<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/app.css"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./images/portait.jpeg" alt="portrait image">
        </div>
                {{>footer}}
    </body>
</html>