<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/app.css"> 
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="firstMsg"></p>
            <p id="secondMsg"></p>

        </div>
   
        {{>footer}}
        
        <script src="/js/index.js"></script>

    </body>

</html>